{% extends "base.html" %}
{% block content %}
{% if name %}
    <h1>You entered in the folder: {{ name }}</h1>
{% else %}
    <h1>Add folder to class</h1>
    <br>
    <form action = "/classes/{{ id }} " method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        {{ form.name() }}

        <br>
        {{ form.submit() }}
    </form>
    <br><br><br>
    <h3>Folders in Database:</h3>
{% for our_week in our_weeks %}
    <tr>
    <td>
        <a href="{{our_week}}">{{ our_week }}</a><br>
    
    </td>
    </tr>
{% endfor %}
{% endif %}
{% endblock %}
