{% extends "base.html" %}
{% block content %}
{% if name %}
    <h1>You entered in the class: {{ name }}</h1>
{% else %}
    <h1>Enter a New Class?</h1>
    <br>
    <form action = "/classes" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        {{ form.name() }}

        <br>
        {{ form.submit() }}
    </form>
    <br><br><br>
    <h3>Classes in Database:</h3>
{% for our_class in our_classes %}
    <tr>
    <td>
    <a href="{{ url_for('cmenu', id=our_class[1])}}">{{ our_class[0] }}</a><br>
    </td>
    </tr>
{% endfor %}
{% endif %}
{% endblock %}
