<!DOCTYPE html>
<html>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
{% for message in messages %}
      <li>{{ message }}</li>
{% endfor %}
    </ul>
{% endif %}
{% endwith %}
<link rel="stylesheet" href="/static/navbar.css">

    <div>
       <ul class="navbarul">
        <li class="navbarli"><a class="navbarlia" href="/">Home</a></li>
        <li class="navbarli"><a class="navbarlia" href="/classes">Classes</a></li>
       </ul>
    </div>
{% block content%} {% endblock %}
</body>

</html>