<!DOCTYPE html>
<html>
<head>
    <title>My First HTML Page</title>
</head>
<body>
<link rel="stylesheet" href="/static/navbar.css">

    <div>
       <ul class="navbarul">
        <li class="navbarli"><a class="navbarlia" href="/">Home</a></li>
        <li class="navbarli"><a class="navbarlia" href="/classes">classes</a></li>
       </ul>
    </div>
    {% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
{% for message in messages %}
      <li>{{ message }}</li>
{% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% block content%} {% endblock %}
</body>

</html>
