{% extends "base.html" %}
<title>{{ week }}</title>
{% block content %}
{% if name %}
    <h1>You entered in the class: {{ name }}</h1>
{% else %}
    <h1>Enter a New Class?</h1>
    <br>
    <h3>Classes in Database:</h3>
{% endif %}
{% for our_file in our_files %}
    <tr>
    <td>
        <a href=" /getfile/{{ our_file }}">{{ our_file }}</a><br>
    
    </td>
    </tr>
{% endfor %}

<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>   
{% endblock %}
