{% extends "base.html" %}
<title>{{ week }}</title>

<div class=".flex">
    

{% block content %}
<link rel="stylesheet" href="/static/week_style.css">
{% if name %}
    <h1>You entered in the class: {{ name }}</h1>
{% else %}
    <h1>Enter a New Class?</h1>
    <br>
    <h3>Classes in Database:</h3>
{% endif %}
<div class="lists">
{% for our_file in our_files %}
    <tr>
    <td>
        <a href=" /getfile/{{ our_file }}" class="list">{{ our_file }}</a>
    
    </td>
    </tr>
{% endfor %}</div>
<a href="{{name}}/upload">Upload</a>
</div>
{% endblock %}
