{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="kellystyle.css" action="/">
<title>Upload notes files</title>
    <h1>Upload notes here</h1>
    
    <form method=post enctype=multipart/form-data>
      <input type="file" id="real" hidden>
      <label id="uploadHere" for="real">Drop files here or click to upload</label>
      
      <p>Title: <input type="text" placeholder="ex. Binary Addition" required></p>
      <p>Student Name: <input type="text" required></p>

      <input type="checkbox" id="acknowledge" value="False" required>
      <label for="acknowledge">I understand that my notes do not contain any material that goes against the UCSC Code of Conduct and Academic Integrity. For more information, <a href="https://ue.ucsc.edu/academic-misconduct.html" target="_blank">click here.</a></label><br>

      <p>Click on Sammy to submit -> <button id="sammy" type="submit">
        <img src="https://www.nicepng.com/png/detail/942-9425490_access-all-campaign-jane-han-the-goal-banana.png" alt="buttonpng" />
      </button></p>

      <input type=submit id="upload" hidden>
      <a href=""><img scr="image destination"></a>

      <!-- <input type=file name=file>
      <input type=submit value=Upload> -->
    </form>
{% endblock %}