html *{font-family:"JetBrains Mono",monospace;}

.logo-container {
    position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin:5px;

}
.descriptiondiv {
    margin:5px;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.description{
    text-align:center;
    margin:3px;
}
.searchandmenu{
  position:absolute;
  top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#mySearch {
  position:relative;
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}
::placeholder{
  font-size:10px;
}

/* Style the navigation menu */
#myMenu {
  position:fixed;
  visibility:visible;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  display:block;
  padding: 12px;
  text-decoration: none;
  color: black;
}

#myMenu li a:hover {
  position:relative;
  width:107%;
  background-color: #eee;
}
/*for shrinking*/
@media screen and (max-width: 600px){
  .descriptiondiv {
    display: none;
  }

}
@media screen and (max-height: 600px){
  .descriptiondiv {
    display: none;
  }

  }

@media screen and (max-width: 400px){

  .logo-container{
    display:none;
  }
}

/*bottom barzz*/
  .bottom_bar{
    width: 100%;
   height: 50px;
   background-color: #f2f2f2 ;
   position: fixed;
   bottom: 0;
   left: 0;
   text-align:center;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly right;

  }
  .bottom_header{
    transform: translate(38px, -7px);
    font-size: 13px;
  }
.bottom-inputs{
  transform: translate(80px, 6px);
}
#name{
  font-size: 15px;
  padding: 9px;
  width:200px;
  border-radius: 2px
}
 #submit{/*add button*/
  transform: translate(145px, -35px);
  font-size: 14px;
  padding: 7px;
  color:#05696B;
  font-weight:bold;
}





